<h1>Welcome to my Awesome App</h1>

<div class="container">
  <div class="row">
    <div class="col-md-3 col-xs-6 col-lg-12 red small"></div>
    <div class="col-md-3 col-xs-6 col-lg-12 green small"></div>
    <div class="col-md-3 col-xs-6 col-lg-12 yellow small"></div>
    <div class="col-md-3 col-xs-6 col-lg-12 blue small"></div>
  </div>
</div>