<h1>Welcome to my Awesome App</h1>


<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li><a href="#home" role="tab" data-toggle="tab">Home</a></li>
  <li class="active"><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
  <li><a href="#messages" role="tab" data-toggle="tab">Messages</a></li>
  <li><a href="#settings" role="tab" data-toggle="tab">Settings</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane" id="home">Content for home</div>
  <div class="tab-pane active" id="profile">...</div>
  <div class="tab-pane" id="messages">...</div>
  <div class="tab-pane" id="settings">...</div>
</div>

<!-- <iframe width="560" height="315" src="//www.cnn.com" frameborder="0" allowfullscreen></iframe>



<i class="glyphicon glyphicon-user"></i>

<i class="fa fa-beer fa-5"></i>

<div style="float: left"> Hello CodeCore</div>
<div class="clearfix"></div>
<div>Hello World</div>
 -->

<!-- <div class="container">
  <div class="row">
    <div class="col-md-3 col-xs-6 col-lg-12 red small"></div>
    <div class="col-md-3 col-xs-6 col-lg-12 green small"></div>
    <div class="col-md-3 col-xs-6 col-lg-12 yellow small"></div>
    <div class="col-md-3 col-xs-6 col-lg-12 blue small"></div>
  </div>
</div> -->