<a href="/all_contacts">&lt; All Contacts</a>
<hr>

<h1>Viewing <%= "#{@user.first_name} #{@user.last_name}".capitalize %></h1>

<p>Email: <%= @user.email %></p>

<p>Message: <%= @user.message %></p>

<p>Urgent: <%= @user.urgent ? "Yes" : "No" %></p>
